extends layout

block content
  section(id="main" class="wrapper")
    div(class="inner")
      header(class="align-center")
        h2 Chart
    div(class="chart-container inner align-center")
      canvas(class="align-center" id="myChart" width="1000" height="400")
  script.
    var d = "#{data}".split(',').map(Number);
  script(src='/chartCtr.js')
    
    
  
