extends layout

block content
  //- include needed javascript file(s) here
  section(id="main" class="wrapper")
    div(class="inner")
      canvas#canvas( height = "200" width = "200" style='background-color:#51')
      script(src="/clockCtr.js")
       