extends layout

block content
  section(id="main" class="wrapper")
    div(class="inner")
        div(class="align-center")
        p9 WebKeepers
        p 
        .row
            .column1
                .card5
                    img(src='styles/templated/images/aaron.jpg', alt='Aaron', style='width:100%')
                    .container2
                        p7.title1 Aaron Lam
                        p
                        p7 Crazy Engineer
                        p
                        p7 aaron.lam@sjsu.edu
                        p
                        input(type='button', onclick="location.href='http://google.com';", value='Contact')
                        p
            .column1
                .card5
                    img(src='styles/templated/images/sindy.png', alt='Sindy', style='width:100%')
                    .container2
                        p7.title1 Qiyue Zhang
                        p
                        p7 Happy Engineer
                        p
                        p7 qiyue.zhang@sjsu.edu
                        p
                        button1.button Contact
                        p
            .column1
                .card5
                    img(src='styles/templated/images/hanhan.png', alt='Hanhan', style='width:100%')
                    .container2
                        p7.title1 Jiehan Yao
                        p
                        p7 Excellent Engineer
                        p
                        p7 jiehan.yao.sjsu.edu
                        p
                        button1.button Contact
                        p
            .column1
                .card5
                    img(src='styles/templated/images/wufan.png', alt='Fan', style='width:100%')
                    .container2
                        p7.title1 Fan Wu
                        p
                        p7 Idea Engineer
                        p
                        p7 fan.wu1.sjsu.edu
                        p
                        button1.button Contact
                        p
