extends layout

block content
  section(id="main" class="wrapper")
    div(class="inner")
        div(class="align-center")
        .row
            .column1
                .card5
                    img(src='styles/templated/images/Aaron.jpeg', alt='Jane', style='width:100%')
                    .container2
                        p7.title1 Andronis Boutique Hotel
                        p
                        p7 Andronis Boutique Hotel is situated in the centre of Oia Village, one of the most traditional villages in Santorini island. The property is located on the cliff edge of Oia Village observing the panoramic Caldera View. The Suites are only 30 minutes from Santorini Airport and Athinios Port. Public parking is available near by the Hotel (walking distance).
                        p
                        p7 question@ABH.com
                        p
                        input(type='button', onclick="location.href='http://google.com';", value='Detail')
                        p
            .column1
                .card5
                    img(src='styles/templated/images/Sindy.jpeg', alt='Mike', style='width:100%')
                    .container2
                        p7.title1 jfiowhfo
                        p
                        p7 Some text that describes me lorem ipsum ipsum lorem.
                        p7 example@example.com
                        p
                        button1.button Detail
                        p
            .column1
                .card5
                    img(src='styles/templated/images/img3.jpg', alt='John', style='width:100%')
                    .container2
                        p7.title1 Radisson Blu Hotel
                        p
                        p7 Radisson is an international hotel company and a subsidiary of the Radisson Hotel Group. It operates the brands Radisson, Radisson Blu, Radisson Red, Country Inns and Suites by Radisson and Park Inn by Radisson with more than 990 locations in 73 countries.
                        p
                        p7 service@radison.com
                        p
                        button1.button Search
                        p
