extends layout

block content
  section(id="main" class="wrapper")
    div(class="inner")
      header(class="align-center")
        if error
          h4(class="error-message")=error.message
        h2 Dashboard
        div(class="graphAreaWrapper")
          div(id="us-heatmap-loading" class="lds-default")
            div
            div
            div
            div
            div
            div
            div
            div
            div
            div
            div
            div
          div(id="us-heatmap" class="graphAreaDiv")
        div(class="graphAreaWrapper")
          div(id="chart1-loading" class="lds-default")
            div
            div
            div
            div
            div
            div
            div
            div
            div
            div
            div
            div
          div(id="us-heatmap" class="graphAreaDiv")    
            canvas(id="chart1" width="500" height="0" aria-label="chart1")
  script(src="/common/api.js")
  script(src="/common/graph.js")
  script(src="/common/charts.js")
  script(src="/dashboardCtr.js")
