extends layout

block content
    section(id="main" class="wrapper")
        div(class="inner")
            script(src="/dragDrop.js")
            p Please drag countries you want to travel to below desire list!
            <ul id="sortable1" class="connectedSortable">
        
                <li class="ui-state-default">China</li>
                <li class="ui-state-default">Japan</li>
                <li class="ui-state-default">India</li>
                <li class="ui-state-default">French</li>
                <li class="ui-state-default">German</li>
            </ul>
            p Desire list!
            <ul id="sortable2" class="connectedSortable">
                
            </ul>
