extends layout

block content
    section(id="main" class="wrapper")
        div(class="inner")
            script(src="/dragDrop.js")
            div(id="dragMe" class="ui-widget-content",style="width: 20%;")
                p DRAG ME
            div
            div(id="target" class="ui-widget-content",style="width: 50%;")
                p DROP HERE