extends layout

block content
  section(id="banner")
    h1 Welcome to #{title}
  section(id="main" class="wrapper")
    div(class="inner")
        div(class="align-center")
            // Slideshow container
            p9 Explore the hotels of your destinations
            p
            .slideshow-container
            // Full-width images with number and caption text
            .mySlides.fade
                .numbertext 1 / 3
                a(href='http://0.0.0.0:3000/review')
                    img(src='styles/templated/images/demo1.jpg', style='width:100%')
                .captext Yellow Stone National Park
            .mySlides.fade
                .numbertext 2 / 3
                a(href='http://0.0.0.0:3000/review')
                    img(src='styles/templated/images/demo2.jpg', style='width:100%')
                .captext Moutain Rainier
            .mySlides.fade
                .numbertext 3 / 3
                a(href='http://0.0.0.0:3000/review')
                    img(src='styles/templated/images/demo3.jpg', style='width:100%')
                .captext Yosimite
                // Next and previous buttons
                    
            // The dots/circles
        div(style='text-align:center')
            span.dot(onclick='currentSlide(1)')
            span.dot(onclick='currentSlide(2)')
            span.dot(onclick='currentSlide(3)')
        p7 Yosemite National Park is in California’s Sierra Nevada mountains. It’s famed for its giant, ancient sequoia trees, and for Tunnel View, the iconic vista of towering Bridalveil Fall and the granite cliffs of El Capitan and Half Dome. In Yosemite Village are shops, restaurants, lodging, the Yosemite Museum and the Ansel Adams Gallery, with prints of the photographer’s renowned black-and-white landscapes of the area.
        p7 Yellowstone National Park is an American national park located in Wyoming, Montana, and Idaho. It was established by the U.S. Congress and signed into law by President Ulysses S. Grant on March 1, 1872. Yellowstone was the first national park in the U.S. and is also widely held to be the first national park in the world. 
        p
        .row
            .column1
                .card5
                    img(src='styles/templated/images/paris.jpg', alt='Jane', style='width:100%')
                    .container2
                        p7.title1 Paris
                        p 
                        p7 Paris, France's capital, is a major European city and a global center for art, fashion, gastronomy and culture. Its 19th-century cityscape is crisscrossed by wide boulevards and the River Seine. 
                        p
                        p
                        input(type='button', onclick="location.href='http://0.0.0.0:3000/top';", value='Explore')
                        p
            .column1
                .card5
                    img(src='styles/templated/images/singapore.jpg', alt='Mike', style='width:100%')
                    .container2
                        p7.title1 Singapore
                        p 
                        p7 Singapore, an island city-state off southern Malaysia, is a global financial center with a tropical climate and multicultural population. Famous by it's food and hotels.  Great place to go with family.
                        p             
                        p
                        input(type='button', onclick="location.href='http://0.0.0.0:3000/top';", value='Explore')
                        p
            .column1
                .card5
                    img(src='styles/templated/images/japan.jpg', alt='John', style='width:100%')
                    .container2
                        p7.title1 Japan
                        p 
                        p7 Japan is an island nation in the Pacific Ocean with dense cities, imperial palaces, mountainous national parks and thousands of shrines and temples.Tokyo, the capital, is known for skyscrapers, shopping and pop culture.
                        p
                        p
                        input(type='button', onclick="location.href='http://0.0.0.0:3000/top';", value='Explore')
                        p
            .column1
                .card5
                    img(src='styles/templated/images/dubai.jpg', alt='John', style='width:100%')
                    .container2
                        p7.title1 Dubai
                        p
                        p7 Dubai is a city and emirate in the United Arab Emirates known for luxury shopping, ultramodern architecture and a lively nightlife scene. Burj Khalifa, an 830m-tall tower, dominates the skyscraper-filled skyline.
                        p
                        p
                        input(type='button', onclick="location.href='http://0.0.0.0:3000/top';", value='Explore')
                        p
    script(src="/introCtr.js")
  script(src="/common/api.js")
  script(src="/common/dataAPI.js")
      
  //- script
  script(src="/common/api.js")
  script(src="/common/dataAPI.js")