extends layout

block content
  section(id="banner")
    h1 Welcome to #{title}
  section(id="main" class="wrapper")
    div(class="inner")
      div(class="align-left")
        canvas#canvas( width='1000' height='200')
          script(src="/plantCtr.js")
    