extends layout

block content
  section(id="banner")
    h1 Welcome to #{title}
  section(id="main" class="wrapper")
    div(class="inner")
      div(class="align-left")
        canvas#canvas(width='200' height='200' style='background-color:#51')
          script(src="/clockCtr.js")
    div(class="inner")
      a(href='https://clipartxtras.com/download/d3580b9aa22244f13365c5ef0a13581088981e1e.html', title='Image from clipartxtras.com')
      img(src='https://img.clipartxtras.com/7a99f4b3b6998c86b57a292aac76d4fa_airport-airports-icon-036430-icons-etc-white-airplane-clipart-no-background_512-512.png', width='212', alt='white airplane clipart no background')