extends layout

block content
  section(id="banner")
    h1 Welcome to #{title}
  section(id="main" class="wrapper")
    div(class="inner")

  //- script
  script(src="/common/api.js")
  script(src="/common/dataAPI.js")