p Paris is the capital and most populous city of France, with an area of 105 square kilometres (41 square miles) and a population of 2,206,488. With 200,000 inhabitants in 1328, Paris, then already the capital of France, was the most populous city of Europe. (Wiki)
  a(id="b3" class="ui-button ui-widget ui-corner-all" style="float: right") Search
script(src="/buttons.js")
