extends layout

block content
  div(class='inner' style='width: 800px; height: 500px;')
    .slideshow-container
    // Full-width images with number and caption text
    .mySlides.fade
        .numbertext 1 / 3
        img(src='/pic2.png', style='width:100%')
        .text Caption Text
    .mySlides.fade
        .numbertext 2 / 3
        img(src='/pic3.png', style='width:100%')
        .text Caption Two
    .mySlides.fade
        .numbertext 3 / 3
        img(src='/pic5.png', style='width:100%')
        .text Caption Three
    // Next and previous buttons
    a.prev(onclick='plusSlides(-1)') ❮
    a.next(onclick='plusSlides(1)') ❯
    br
    // The dots/circles
    div(style='text-align:center')
    span.dot(onclick='currentSlide(1)')
    span.dot(onclick='currentSlide(2)')
    span.dot(onclick='currentSlide(3)')