
extends layout

block content
  <!--canvas(class="align-center" id="myChart" width="800" height="400")-->
  div(class='inner' style='width: 600px; height: 400px;')
    #cp_widget_ae2d8472-9d84-458f-b33e-73abf63ff22c ...
    script(type='text/javascript').
        var cpo = []; cpo["_object"] ="cp_widget_ae2d8472-9d84-458f-b33e-73abf63ff22c"; cpo["_fid"] = "AcBAHYerVMHT";
        var _cpmp = _cpmp || []; _cpmp.push(cpo);
        (function() { var cp = document.createElement("script"); cp.type = "text/javascript";
        cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
        var c = document.getElementsByTagName("script")[0];
        c.parentNode.insertBefore(cp, c); })();
    div(class="inner")
            div(class="inner")
            p The Map graph below showing the heat map of average review ratings by state, you can filter by different location and time interval on right side
            p