doctype html
html
  head
    title= title
    //- for SOE
    meta(name="viewport" content="width=device-width initial-scale=1")
    meta(name="Description" content="A travel helper website")

    //- for Progressive Web App
    meta(name="theme-color" content="#5385c1")

    //- icon
    link(rel='shortcut icon' type='image/x-icon' href='/favicon.ico')

    //- css files
    link(rel='stylesheet' href='/styles/templated/assets/css/font-awesome.min.css')
    link(rel='stylesheet' href='/styles/templated/assets/css/main.css')
    link(rel='stylesheet' href='/styles/extra.css')
    link(rel='stylesheet' href='/styles/dragDrop.css')
    link(rel='stylesheet' href='/styles/resize.css')
    //- NOTE: The following js files had to be in the following order
    //- jquery
    script(src="/jquery-ui/external/jquery/jquery.js")
    //- jquery-ui
    script(src="/jquery-ui/jquery-ui.js")
    link(rel="stylesheet" href="/jquery-ui/jquery-ui.css")

    //- javascript for template
    script(src="/styles/templated/assets/js/skel.min.js")
    script(src="/styles/templated/assets/js/util.js")
    script(src="/styles/templated/assets/js/main.js")

  body(class="subpage")

    header(id="header")
      div(class="inner")
        a(href="index.html" class="logo")
          img(src="/logo.png" alt="TripWiser Logo")
        nav(id="nav")
          a(href="/") Home
          a(href="/profile") Profile
          a(href="/register") Register
          a(href="/checkbox") Explore 
          a(href="/search") Search
          a(href="/about") About
          a(href="/dashboard") Dashboard
          a(href="/clock") clock
          a(href="/dragDrop") dragDrop
          a(href="/resize") resize
          a(href="/indexdb") indexdb
        a(href="#navPanel" class="navPanelToggle")
          span(class="fa fa-bars")

    block content

    block foot
      footer(id="footer")
        div(class="inner")
          div(class="flex")
            div(class="copyright") &copy; Credit. Design: 
              a(href="https://templated.co") TEMPLATED. Images: 
              a(href="https://unsplash.com") Unsplash.
            ul(class="icons")
              li
                a(href="#" class="icon fa-facebook")
                  span(class="label") Facebook
              li
                a(href="#" class="icon fa-twitter")
                  span(class="label") Twitter
              li
                a(href="#" class="icon fa-linkedin")
                  span(class="label") LinkedIn
              li
                a(href="#" class="icon fa-pinterest-p")
                  span(class="label") Pinterest
        
