extends layout

block content
  section(id="main" class="wrapper")
    div(class="inner align-center" name="tableWithData")
      table
        tr
          th(class="align-center") _id
          th(class="align-center") id
          th(class="align-center") name
        each user in data  
          tr
            td=user._id
            td=user.id
            td=user.name 
      h2 Modification      
      div(class="inner row align-center" style="display:table")
        div(class="column")
          form(id="insertAndDelete" method="post")
            |id:
            br
            input(type="text" name="id")
            |name
            br  
            input(type="text" name="name")
            br
            button(form="insertAndDelete" formaction="mongodb/insert" type="submit") Insert
            button(form="insertAndDelete" formaction="mongodb/findAndRemove" type="submit") Delete  
        div(class="column")
          form(id="update" method="post")
            |query-id
            br
            input(type="text" name="q_id")
            |query-name
            br
            input(type="text" name="q_name")   
            |id:
            br
            input(type="text" name="u_id")
            |name
            br  
            input(type="text" name="u_name")
            br  
            button(form="update" formaction="mongodb/update" type="submit") Update
