extends layDB

block content
    h1= title
    form#formAddUser(name="adduser",method="post",action="/api/adduser")
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputUserEmail(type="text", placeholder="password", name="password")
        button#btnSubmit(type="submit") submit