extends layout

block content
    section(id="main" class="wrapper")
        div(class="inner")
            script(src="/resize.js")
            div(id="resize" class="ui-widget-content" )
                h3.ui-widget-header  Travel Tips
                h3.ui-widget-content
                    ul
                        li Always pack a towel
                        li Buy a small backpack/suitcase
                        li Pack light
                        li But take extra socks 
                        li Take an extra bank card and credit card with you
                        li Don’t be afraid to use a map
                        