extends layout
block content
  section(id="main" class="wrapper")
    div(class="inner")
        h2 Hotel Review
        div(class="responsive")
          div(class="gallery")
            a(target="_blank" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvAx1GkmjIx6_ms2DvekYLwNRQHsoDJKKbq7c9JP98lHowLwkWgQ")
              img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvAx1GkmjIx6_ms2DvekYLwNRQHsoDJKKbq7c9JP98lHowLwkWgQ" alt="Bellagio" width="300" height="200")
            div(class="desc") Bellagio Las Vegas Hotel
            a(class = "button" href="survey") review   
        div(class="responsive")
          div(class="gallery")
            a(target="_blank" href="https://media-cdn.tripadvisor.com/media/photo-s/10/a4/fd/0b/andronis-boutique-hotel.jpg")
              img(src="https://media-cdn.tripadvisor.com/media/photo-s/10/a4/fd/0b/andronis-boutique-hotel.jpg" alt="ANDRONIS BOUTIQUE HOTEL" width="300" height="200")
            div(class="desc") ANDRONIS BOUTIQUE
            a(class = "button" href="survey") review
        div(class="responsive")
          div(class="gallery")
            a(target="_blank" href="https://i2.wp.com/theluxurytravelexpert.com/wp-content/uploads/2018/09/THE-OBEROI-UDAIVILAS-UDAIPUR-INDIA.jpg?fit=970%2C546&ssl=1")
              img(src="https://i2.wp.com/theluxurytravelexpert.com/wp-content/uploads/2018/09/THE-OBEROI-UDAIVILAS-UDAIPUR-INDIA.jpg?fit=970%2C546&ssl=1" alt="Cinque Terre" width="300" height="200")
            div(class="desc") The Oberoi Udaivilas
            a(class = "button" href="survey") review
        div(class="responsive")
          div(class="gallery")
            a(target="_blank" href="https://www.airfrance.fr/FR/common/common/img/tbaf/news/XXX/les-7-plus-beaux-hotels-sur-pilotis/11000.jpg")
              img(src="https://www.airfrance.fr/FR/common/common/img/tbaf/news/XXX/les-7-plus-beaux-hotels-sur-pilotis/11000.jpg" alt="the Anantara The Palm Dubai Resort" width="300" height="200")
            div(class="desc") The luxury of the Anantara 
            a(class = "button" href="survey") review
        div(class="responsive")
          div(class="gallery")
            a(target="_blank" href="https://www.airfrance.fr/FR/common/common/img/tbaf/news/XXX/les-7-plus-beaux-hotels-sur-pilotis/constance-le-prince-maurice-ile-maurice1000.jpg")
              img(src="https://www.airfrance.fr/FR/common/common/img/tbaf/news/XXX/les-7-plus-beaux-hotels-sur-pilotis/constance-le-prince-maurice-ile-maurice1000.jpg" alt="Constance Prince Maurice" width="300" height="200")
            div(class="desc") Constance Prince Maurice
            a(class = "button" href="survey") review
        div(class="responsive")
          div(class="gallery")
            a(target="_blank" href="https://www.airfrance.fr/FR/common/common/img/tbaf/news/XXX/les-7-plus-beaux-hotels-sur-pilotis/Rosewood-Mayakoba-riviera-maya-resort-mexique1000.jpg")
              img(src="https://www.airfrance.fr/FR/common/common/img/tbaf/news/XXX/les-7-plus-beaux-hotels-sur-pilotis/Rosewood-Mayakoba-riviera-maya-resort-mexique1000.jpg" alt="Rosewood Mayakoba" width="300" height="200")
            div(class="desc") Rosewood Mayakoba 
            a(class = "button" href="survey") review
        div(class="responsive")
          div(class="gallery")
            a(target="_blank" href="https://www.airfrance.fr/FR/common/common/img/tbaf/news/XXX/les-7-plus-beaux-hotels-sur-pilotis/le-meridien-tahiti1000.jpg")
              img(src="https://www.airfrance.fr/FR/common/common/img/tbaf/news/XXX/les-7-plus-beaux-hotels-sur-pilotis/le-meridien-tahiti1000.jpg" alt=" Le Méridien Tahiti Hotel" width="300" height="200")
            div(class="desc") Le Méridien Tahiti Hotel
            a(class = "button" href="survey") review
        div(class="responsive")
          div(class="gallery")
            a(target="_blank" href="https://www.airfrance.fr/FR/common/common/img/tbaf/news/XXX/les-7-plus-beaux-hotels-sur-pilotis/intercontiental-hanoi-westlake1000.jpg")
              img(src="https://www.airfrance.fr/FR/common/common/img/tbaf/news/XXX/les-7-plus-beaux-hotels-sur-pilotis/intercontiental-hanoi-westlake1000.jpg" alt="ntercontinental Hanoi Westlake" width="300" height="200")
            div(class="desc")   Intercontinental Hanoi Westlake
            a(class = "button" href="survey") review
        div(class="clearfix")
