extends layout

block content
  section(id="main" class="wrapper")
    div(class="inner")
      header(class="align-center") 
        h2 Search
      div(class="box", id="tabs")
        ul
          li
            a(href="#tabs-1") Tokyo
          li  
            a(href="#tabs-2") San Francisco
          li  
            a(href="#tabs-3") Paris
        div(id="tabs-1")
          p Tokyo info 
            a(id="b1" class="ui-button ui-widget ui-corner-all" style="float: right") Search
        div(id="tabs-2")    
          p SF info
            a(id="b2" class="ui-button ui-widget ui-corner-all" style="float: right") Search
        div(id="tabs-3")  
          p Paris info
            a(id="b3" class="ui-button ui-widget ui-corner-all" style="float: right") Search
      div(class="box", id="googleMap")
      script(src="/googleMapCtr.js")
      script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhqgzRjW4QmoLhURFs47Ek6IF4sF_nslU&libraries=places")
      script.
        var googleMap = new GoogleMap(37.3351916, -121.8832655, 13);
      script(src="/tabs.js")
      script(src="/buttons.js")
