extends layout

block content
  section(id="main" class="wrapper")
    div(class="inner")
      header(class="align-center") 
        h2 Search
      div(id="googleMap")
      script(src="/googleMapCtr.js")
      script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhqgzRjW4QmoLhURFs47Ek6IF4sF_nslU&callback=googleMap.init" async defer)
