extends layout

block content
  section(id="main" class="wrapper")
    div(class="inner")
      header(class="align-center") 
        h2 Search
        h3 Click "Search" to search for local hotels!
      div(class="box", id="tabs")
        ul
          li
            a(href="#tabs-1") Tokyo
          li  
            a(href="/search_info/2") San Francisco
          li  
            a(href="/search_info/3") Paris
        div(id="tabs-1")
          p Tokyo is Japan's capital and the world's most populous metropolis. It is also one of Japan's 47 prefectures, consisting of 23 central city wards and multiple cities, towns and villages west of the city center. The Izu and Ogasawara Islands are also part of Tokyo. (Japan-guide) 
            a(id="b1" class="ui-button ui-widget ui-corner-all" style="float: right") Search   
      div(class="box", id="googleMap")
      script(src="/googleMapCtr.js")
      script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhqgzRjW4QmoLhURFs47Ek6IF4sF_nslU&libraries=places")
      script.
        var googleMap = new GoogleMap(37.3351916, -121.8832655, 13);
      script(src="/tabs.js")
      script(src="/buttons.js")
