extends layout

block content
  <!--canvas(class="align-center" id="myChart" width="1152" height="400")-->
  <!--script.var data = "#{data}"-->
  <!--script(src='/common/api.js')-->
  <!--script(src='/chartCtr.js')-->
  div(class="inner")
            div(class="inner")
            p The Map graph below showing the heat map of average review ratings by state, you can filter by different location and time interval on right side
            p
  div(class='tableauPlaceholder' style='width: 1440px; height: 611px;')
    object.tableauViz(width='1126', height='678', style='display:none;')
        param(name='host_url', value='https%3A%2F%2Fus-west-2b.online.tableau.com%2F')
        param(name='embed_code_version', value='3')
        param(name='site_root', value='/t/webkeepers')
        param(name='name', value='HotelRestaurantOverview/Popularity/qiyue.zhang@sjsu.edu/WebKeeps-pub')
        param(name='tabs', value='no')
        param(name='toolbar', value='yes')
        param(name='showAppBanner', value='false')
        param(name='filter', value='iframeSizedToWindow=true')
  script(type='text/javascript' src='https://us-west-2b.online.tableau.com/javascripts/api/viz_v1.js')
  div(class="inner")
            p
            div(class="inner")
            p The histogram below showing the review ratings count by month during the year, you can filter on the year and rating score on right side, you can also search for certain business name on below Name input box 
            p try "1900 house".  It give user the ability to see the best time during the year to this particular restaurant or hotel
            p
            p
            p

  div(class='tableauPlaceholder' style='width: 1440px; height: 611px;')
    object.tableauViz(width='1126', height='678', style='display:none;')
        param(name='host_url', value='https%3A%2F%2Fus-west-2b.online.tableau.com%2F')
        param(name='embed_code_version', value='3')
        param(name='site_root', value='/t/webkeepers')
        param(name='name', value='HotelRestaurantOverview/Reviewtrend')
        param(name='tabs', value='no')
        param(name='toolbar', value='yes')
        param(name='showAppBanner', value='false')
        param(name='filter', value='iframeSizedToWindow=true')
  script(type='text/javascript', src='https://us-west-2b.online.tableau.com/javascripts/api/viz_v1.js')
  div(class="inner")
            p
            div(class="inner")
            p The bar chart below showing the percentage of each review scores from 1-5 for certain place or business
            p It gives user the overall rating expectation for certain business of interest
            p
            p
            p
        

  div(class='tableauPlaceholder' style='width: 1440px; height: 611px;')
    object.tableauViz(width='1126', height='678', style='display:none;')
        param(name='host_url', value='https%3A%2F%2Fus-west-2b.online.tableau.com%2F')
        param(name='embed_code_version', value='3')
        param(name='site_root', value='/t/webkeepers')
        param(name='name', value='HotelRestaurantOverview/ofRatingScore')
        param(name='tabs', value='no')
        param(name='toolbar', value='yes')
        param(name='showAppBanner', value='false')
        param(name='filter', value='iframeSizedToWindow=true')
  script(type='text/javascript', src='https://us-west-2b.online.tableau.com/javascripts/api/viz_v1.js')

  div(class="inner")
            p
            div(class="inner")
            p The line chart below showing the trend of review ratings count during 12 months
            p User can filter by business name to see what is the best month to visit this place
            p
            p
            p
  div(class='tableauPlaceholder' style='width: 1440px; height: 611px;')
    object.tableauViz(width='1126', height='678', style='display:none;')
        param(name='host_url', value='https%3A%2F%2Fus-west-2b.online.tableau.com%2F')
        param(name='embed_code_version', value='3')
        param(name='site_root', value='/t/webkeepers')
        param(name='name', value='HotelRestaurantOverview/RatingPopularitybyMonth')
        param(name='tabs', value='no')
        param(name='toolbar', value='yes')
        param(name='showAppBanner', value='false')
        param(name='filter', value='iframeSizedToWindow=true')
  script(type='text/javascript', src='https://us-west-2b.online.tableau.com/javascripts/api/viz_v1.js')



