extends layout

block content
  section(id="main" class="wrapper")
    div(class="inner")
      div(class="align-center")
      p9 Top 4 hotels in the city
      .row
        .column1
          .card5
            img(src='styles/templated/images/img1.jpg', alt='hotel', style='width:100%')
            .container2
              p7.title1 Grand Hotel
              p 
              p7 Nice and luxury hotel with great service.
              p
              p
              p
        .column1
          .card5
            img(src='styles/templated/images/img2.jpg', alt='Mike', style='width:100%')
            .container2
              p7.title1 Hillton
              p 
              p7 Comfortable as you are at home.  Free Valet parking service.
              p             
              p
              p
        .column1
          .card5
            img(src='styles/templated/images/img3.jpg', alt='John', style='width:100%')
            .container2
              p7.title1 The View
              p 
              p7 Quiet and comfortable like at home with in unit jackuzzi.
              p
              p
              p
        .column1
          .card5
            img(src='styles/templated/images/img4.jpg', alt='John', style='width:100%')
            .container2
              p7.title1 Sea Shell
              p
              p7 Great view of ocean with nice balcony.  Current on sale.
              p
              p
              p
  script(src="/introCtr.js")
