extends layout

block content
  section(id="main" class="wrapper")
    div(class="inner")
        div(class="align-center")
        p9 Top 4 hotels in city
        .row
            .column1
                .card5
                    img(src='styles/templated/images/img1.jpg', alt='hotel', style='width:100%')
                    .container2
                        p7.title1 Paris
                        p 
                        p7 Paris, France's capital, is a major European city and a global center for art, fashion, gastronomy and culture. Its 19th-century cityscape is crisscrossed by wide boulevards and the River Seine. 
                        p
                        p
                        input(type='button', onclick="location.href='http://google.com';", value='Explore')
                        p
            .column1
                .card5
                    img(src='styles/templated/images/img2.jpg', alt='Mike', style='width:100%')
                    .container2
                        p7.title1 Singapore
                        p 
                        p7 Singapore, an island city-state off southern Malaysia, is a global financial center with a tropical climate and multicultural population. Famous by it's food and hotels.  Great place to go with family.
                        p             
                        p
                        button1.button Explore
                        p
            .column1
                .card5
                    img(src='styles/templated/images/img3.jpg', alt='John', style='width:100%')
                    .container2
                        p7.title1 Japan
                        p 
                        p7 Japan is an island nation in the Pacific Ocean with dense cities, imperial palaces, mountainous national parks and thousands of shrines and temples.Tokyo, the capital, is known for skyscrapers, shopping and pop culture.
                        p
                        p
                        button1.button Explore
                        p
            .column1
                .card5
                    img(src='styles/templated/images/img4.jpg', alt='John', style='width:100%')
                    .container2
                        p7.title1 Dubai
                        p
                        p7 Dubai is a city and emirate in the United Arab Emirates known for luxury shopping, ultramodern architecture and a lively nightlife scene. Burj Khalifa, an 830m-tall tower, dominates the skyscraper-filled skyline.
                        p
                        p
                        button1.button Explore
                        p
    script(src="/introCtr.js")
